.icon{
 margin-left: 5px;
 padding-right: 10px;
}
.button{
 padding-right: 15px;
 background-color:rgb(100,110,90);
 font-size: 15px;
 border-radius: 10px;
 border-width: 0;
 color: white;
 padding-top: 10px;
 cursor: pointer;
 
}
.input{
 padding-top: 15px;
 padding-bottom: 10px;
 }
.input1{
 border-radius: 10px;
 border-width: 0;
 text-align: right;
}
